@import '../colors.css';

.node-editor {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.node-editor.tool-selected {
  cursor: crosshair;
}

.node {
  height: auto;
  width: 200px;
  background-color: var(--secondary-bg-color);
  color: white;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  cursor: move;
  overflow: hidden;
}

.node .input-wrapper {
  position: relative;
  width: 100%;
  min-height: 25px;
}


.node .input-wrapper::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -15px;
  top: 2.5px;
  width: 10px;
  height: 10px;
  border-radius: 7.5px;
  background-color: lightgreen;
}

.node .input-wrapper:hover::before {
  border: 1px solid white;
}


.node .title {
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  color: var(--text-color);
  width: 100%;
  margin: 0;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: bold;
}

.node form {
  padding: 10px;
}

.node form input {
  float: right;
  width: 100px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  text-align: right;
}

.node form input[type=number] {
  background-color: var(--main-bg-color);
}

div.toolbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: var(--secondary-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.toolbar ul {
  padding: 0px 3px 0px 0px;
  margin: 0;
  list-style-type: none;
  list-style: none;
}

.toolbar li {
  margin-bottom: 3px;
}

.toolbar button {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.toolbar button.selected {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--accent-color);
}